*{
	box-sizing: border-box;
}
	body
	{
		background: #eee;
	}
	/* for second*/
	.card1
	{
		width: 220px;
		height: 250px;
		border: 0px solid black;
		position: absolute;
		left: 15%;
		top: 88%;
		margin: -150px;
		perspective: 500px;
		border-radius: 20px;
	}
	.content1
	{
		width: 100%;
		height: 100%;
		position: absolute;
		font-size: 18px;
		text-align: center;
		line-height: 220px;
		border-radius: 20px;
		transition: transform 1s;
		transform-style: preserve-3d;
	}
	.card1:hover .content1
	{
		transform: rotateY(180deg);
	}
	.front1,.back1
	{
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: #fff;
		color: tomato;
		backface-visibility: hidden;
	}
	.back1
	{
		background-color: tomato;
		color: white;
		transform: rotateY(180deg);
	}
	.content1 img
	{
		position: absolute;
		left: 0;
		width: 100%;
		height: 70%;
	}
	.content1 .para1
	{
		color: grey;
	}
	.content1 .para1 h3
	{
		position: absolute;
		top: 72%;
		/*color: grey;*/
	}
	.content1 .para1 p
	{
		position: absolute;
		top: 50%;
	}
	.card1 .content1 .back1 p
	{
		position: relative;
		
	}

	/*for content 3rd*/
	.card2
	{
		width: 220px;
		height: 250px;
		border: 0px solid black;
		position: absolute;
		left: 40%;
		top: 88%;
		margin: -150px;
		perspective: 500px;
		border-radius: 20px;
	}
	.content2
	{
		width: 100%;
		height: 100%;
		position: absolute;
		font-size: 18px;
		text-align: center;
		line-height: 220px;
		border-radius: 20px;
		transition: transform 1s;
		transform-style: preserve-3d;
	}
	.card2:hover .content2
	{
		transform: rotateY(180deg);
	}
	.front2,.back2
	{
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: #fff;
		color: tomato;
		backface-visibility: hidden;
	}
	.back2
	{
		background-color: tomato;
		color: white;
		transform: rotateY(180deg);
	}
	.content2 img
	{
		position: absolute;
		left: 0;
		width: 100%;
		height: 70%;
	}
	.content2 .para2
	{
		color: grey;
	}
	.content2 .para2 h3
	{
		position: absolute;
		top: 72%;
		/*color: grey;*/
	}
	.content2 .para2 p
	{
		position: absolute;
		top: 50%;
	}
	.card2 .content2 .back2 p
	{
		position: relative;
		
	}

	/*for content 3*/
	.card3
	{
		width: 220px;
		height: 250px;
		border: 0px solid black;
		position: absolute;
		left: 65%;
		top: 88%;
		margin: -150px;
		perspective: 500px;
		border-radius: 20px;
	}
	.content3
	{
		width: 100%;
		height: 100%;
		position: absolute;
		font-size: 18px;
		text-align: center;
		line-height: 220px;
		border-radius: 20px;
		transition: transform 1s;
		transform-style: preserve-3d;
	}
	.card3:hover .content3
	{
		transform: rotateY(180deg);
	}
	.front3,.back3
	{
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: #fff;
		color: tomato;
		backface-visibility: hidden;
	}
	.back3
	{
		background-color: tomato;
		color: white;
		transform: rotateY(180deg);
	}
	.content3 img
	{
		position: absolute;
		left: 0;
		width: 100%;
		height: 70%;
	}
	.content3 .para3
	{
		color: grey;
	}
	.content3 .para3 h3
	{
		position: absolute;
		top: 72%;
		/*color: grey;*/
	}
	.content3 .para3 p
	{
		position: absolute;
		top: 50%;
	}
	.card3 .content3 .back3 p
	{
		position: relative;
		
	}
/*for content 4*/
.card4
	{
		width: 220px;
		height: 250px;
		border: 0px solid black;
		position: absolute;
		left: 90%;
		top: 88%;
		margin: -150px;
		perspective: 500px;
		border-radius: 20px;
	}
	.content4
	{
		width: 100%;
		height: 100%;
		position: absolute;
		font-size: 18px;
		text-align: center;
		line-height: 220px;
		border-radius: 20px;
		transition: transform 1s;
		transform-style: preserve-3d;
	}
	.card4:hover .content4
	{
		transform: rotateY(180deg);
	}
	.front4,.back4
	{
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: #fff;
		color: tomato;
		backface-visibility: hidden;
	}
	.back4
	{
		background-color: tomato;
		color: white;
		transform: rotateY(180deg);
	}
	.content4 img
	{
		position: absolute;
		left: 0;
		width: 100%;
		height: 70%;
	}
	.content4 .para4
	{
		color: grey;
	}
	.content4 .para4 h3
	{
		position: absolute;
		top: 72%;
		/*color: grey;*/
	}
	.content4 .para4 p
	{
		position: absolute;
		top: 50%;
	}
	.card4 .content4 .back4 p
	{
		position: relative;
		
	}

div.writers
{
	margin-top: 280px;
}